Source: remmina
Section: gnome
Priority: optional
Maintainer: Luca Falavigna <dktrkranz@debian.org>
Build-Depends: debhelper (>= 7.0.50),
 cmake (>= 2.6),
 libgtk-3-dev,
 libgcrypt11-dev,
 libssh-dev (>= 0.4),
 libvte-2.90-dev,
 libxkbfile-dev,
 libfreerdp-dev (>= 1.0),
 libtelepathy-glib-dev,
 libjpeg-dev,
 libgnutls-dev,
 libgnome-keyring-dev,
 libavahi-ui-gtk3-dev (>= 0.6.0)
Standards-Version: 3.9.2
Homepage: http://remmina.sourceforge.net/
Vcs-Git: git://git.debian.org/git/users/dktrkranz/remmina.git
Vcs-Browser: http://git.debian.org/?p=users/dktrkranz/remmina.git;a=summary

Package: remmina
Architecture: any
Depends: ${shlibs:Depends},
 ${misc:Depends}
Recommends: remmina-plugin-rdp,
 remmina-plugin-vnc
Breaks: remmina-plugin-data (<= 0.9)
Replaces: remmina-gnome, remmina-xfce
Description: remote desktop client for GNOME desktop environment
 Remmina is a remote desktop connection client able to display and control a
 remote desktop session.
 .
 It supports multiple network protocols in an integrated and consistant user
 interface. Currently RDP, VNC, NX, XDMCP and SSH protocols are supported.
