Source: remmina
Section: gnome
Priority: optional
Maintainer: Luca Falavigna <dktrkranz@debian.org>
Build-Depends: debhelper (>= 7), intltool (>= 0.35.0), libglib2.0-dev (>= 2.14.0), libgtk2.0-dev (>= 2.12.0), libvncserver-dev, libssh-dev, libavahi-ui-dev, libvte-dev, libgcrypt-dev
Standards-Version: 3.8.3
Homepage: http://remmina.sourceforge.net/
Vcs-Git: git://git.debian.org/git/users/dktrkranz/remmina.git
Vcs-Browser: http://git.debian.org/?p=users/dktrkranz/remmina.git;a=summary

Package: remmina
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: rdesktop
Description: remote desktop client for GNOME desktop environment
 Remmina is a remote desktop connection client able to display and control a
 remote desktop session. It can connect to a VNC platform as well as windows
 terminal servers.

Package: grdc
Architecture: all
Depends: remmina
Recommends: rdesktop
Description: transitional dummy package for python-fltk
 This is a dummy package to ease transition to new package name remmina.
 .
 It can be safely removed from your system.

